body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   background-color: lightgray;
}

.container form{
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: stretch;
}
.container input:not([type="checkbox"]) {
   width: 100%;
   box-sizing: border-box;
   font-size: 1.5rem;
   border: 1px solid white;
   border-radius: 0.5rem;
   padding:0.5rem;
   margin-bottom: 0.5rem;
}

.rows {
   display: flex;
   gap: 1rem;;
   
}
.rows input {
   width: calc(50% - 0.5rem);
   margin: 1rem 0;
}

#mobile, #email{
   flex: 1;
   margin: 0.5rem 0;
}
#email {
   margin: 0.5rem 0;
}

.agree-check {
   display: flex;
   align-items: flex-start;
   gap: 0.5rem;
   margin-top: 1rem;
}
.agree-check label {
   margin-right: 2rem;
}
.agree-check p{

   flex: 1;
}
#highlight-word {
   background-color: blue;
   color:white;
   border: none;
   border-radius:0.2rem;
   font-weight: 500;
   padding: 0.15rem 0.5rem;
   font-size:smaller;
}

.sign-buttons {
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
}
.sign-buttons button:hover {
   cursor: pointer;
   opacity: 0.5;
}
.sign-buttons button{
   flex: 1;
   height: 3em;
   border-radius: 0.5rem;
   border: none;
   font-size: 1.2em;
}

#signUpBtn {
   background: powderblue;
   color:white;
}
#signInBtn {
   background: lightgreen;
   color:white;
}




@media (max-width: 360px) {
   .container form {
      width: 90%;
      max-width: 300px;
   }
   .rows {
      flex-wrap: wrap;
   }
   .container input:not([type="checkbox"]) {
     font-size: 0.5rem;
     padding: 0.4rem;
   }
   .sign-buttons button {
     font-size: 0.5rem;
   }
 }